<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE en-export SYSTEM "http://xml.evernote.com/pub/evernote-export2.dtd">
<en-export export-date="20130920T073952Z" application="Evernote/Windows" version="5.x">
<note>
<title>${WhenPrefix}. ${ActionTitle}</title>
<content>
<![CDATA[<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE en-note SYSTEM "http://xml.evernote.com/pub/enml2.dtd">
<en-note style="word-wrap: break-word; -webkit-nbsp-mode: space; -webkit-line-break: after-white-space;"/>]]>
</content>
<tag>.Action</tag>
<tag>${WhenContext}</tag>
<tag>${ActionContext}</tag>
${Reminder}
</note>
</en-export>
